#navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0 0 0;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
  background: 0 0;
  mix-blend-mode: difference;
}
.side-nav .hamburger {
  mix-blend-mode: normal;
}
.nav-item-underline {
  background-color: #464c47;
}
.navitem {
  margin: 20px 0;
}
.underline {
  display: inline-block;
  position: relative;
  color: #fff;
}
.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #fff;
  transition: width 2s ease-out;
}
.smallreswork {
  background-color: #464c47;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin: 10vh 0 0 0;
}
.smallreswork #currently,
.smallreswork #resident a {
  font-size: 3vh;
}
.smallreswork #currently,
.smallreswork #resident {
  font-size: 3vh;
  margin: 3vh 0 0 0;
  display: block;
  color: #fff;
  background-color: #464c47;
}
.currwork,
.res {
  background-color: #464c47;
}
@media only screen and (max-width: 990px) {
  #navbar {
    flex-direction: column;
    width: 100%;
  }
  .burger {
    display: block !important;
  }
  .burger-height {
    height: 72px;
  }

  .opa {
    opacity: 0;
  }
  #navbar > .hamburger {
    display: block !important;
    position: fixed;
    z-index: 1;
    right: 2rem;
    top: 2rem;
    font-size: 24px;
  }

  #big-nav {
    display: none !important;
  }

  .side-nav {
    display: block !important;
    position: fixed;
    height: 100%;
    right: 0;
    top: -100%;
    padding: 4rem 2rem;
    background: #464c47;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 24px;
    z-index: 999;
    overflow: scroll;
    transition: 0.7s ease-in-out;
    /* width: 1000vh; */
  }

  .show {
    top: 0 !important;
  }

  .nav-item-cnt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: none;
    font-weight: bold;
    /* align-items: center; */ /*under*/
  }

  .nav-item-cnt a {
    margin: 0rem 20px 0 0.1rem; /*under*/
    padding: 1rem 0 0.2rem 0;
    background: none;
    text-decoration: none;
    text-transform: uppercase; /*under*/
    line-height: 1.2; /*under*/
    font-size: 10vw; /*under*/
    color: white; /*under*/
  }

  .side-nav > .hamburger,
  .hamburger > i {
    background: none !important;
  }

  .side-nav > .hamburger {
    text-align: right;
    padding-right: 2rem;
    position: relative;
    top: -2rem;
    left: 2rem;
  }
}
