* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: "PP Neue Montreal", "-apple-system", "BlinkMacSystemFont", "Segoe UI,Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    /* font-family: "Oxygen", "sans-serif"; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Adding animation to all the elements for smooth slide effect in side navigration bar in small screen devices */
    /* You can specifiy the animation specifically for side-nave */
    transition: 0.7s ease-in-out;
}

@font-face {
    font-family: "PP Neue Montreal";
    src: url("../STATIC/PPNeueMontreal-Medium.f9b3b92f.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

a:focus,
a:visited,
a:active {
    outline: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 40rem;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 0 0;
}

.left {
    /* font-weight: 600; */
    font-size: 25px;
    /* new */
    position: fixed;
    /* top: 0; */
    /* new */

    z-index: 1;
    /* margin: 0 0 0 0; */
    /* new */
    background: none;
    letter-spacing: 0.9px;

}

/* new */

.left-pre {
    position: relative;
    right: 40px;
}

.current,
.reside,
.links {
    /* font-weight: 600; */
    background: none;
    font-size: 20px;
}

.links {
    position: fixed;
    z-index: 1;
}

/* new */

.links-pre {
    position: relative;
    width: 280px;
}

.links a {
    background: none;
    text-decoration: none;
    color: white;
    /* font-weight: 600; */
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* hover-Underline animation for navbar */
.hover-underline-animation-nav {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation-nav::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation-nav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* ------------------------------------- */

.hover-underline-animation-nav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation-bold {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation-bold::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation-bold:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.uppersection {
    font-weight: bold;
    font-size: 12vw;
    margin: 50px 0 0 100px;
}

#devimage {
    width: 50%;
    margin: 50px 0 100px 100px;
    height: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 10px 10px 25px gray; */
    /* filter: grayscale(100%);
    transition: filter 0.5s; */
}

/* #devimage:hover {
    filter: grayscale(0%);
    transition: 0.5s
} */

.lowersection {
    float: right;
    margin: 30px 30px 0 0;
}

.firstname {
    float: right;
}

.firstname,
.surname {
    font-weight: bolder;
    font-size: 100px;
}

.arrowncreative {
    display: flex;
    justify-content: space-evenly;
    /* margin: 30px 0 0 0; */
}

.arrow {
    font-size: 150px;
    font-weight: bolder;
    margin: 70px 0 0 0;

}

.creative {
    font-size: 35px;
    font-weight: bolder;
    margin: 130px 0 0 0;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 350px;
    padding-right: 300px;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 500;
}

.projecthead {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    margin: 100px 0 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

.pro1head {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    font-size: 100px;
    margin: 100px 0 0 150px;
    text-decoration: none !important;
    font-weight: bolder;
    -webkit-tap-highlight-color: transparent;
}

.pro1head a {
    text-decoration: none;
    color: white;
}

.project1-pre {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 0 0;
}

.pro1img {
    width: 45%;
    height: 50%;
    border-radius: 10px;
    /* box-shadow: 10px 10px 25px gray; */
    filter: grayscale(100%);
    transition: filter 0.5s;
}

/* .project1-pre a{
    text-decoration: none;
    color: white;
} */

.pro1img:hover {
    filter: grayscale(0%);
    transition: 0.5s
}

/* new project */
.projectheads {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2vw;
    font-weight: bolder;
    margin: 5vw 0 5vw 0;
}

.bodypro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
    font-size: 4vw;
}

.bodypro a {
    text-decoration: none;
    color: white;
}

.bodypro img {
    width: 25vw;
    border-radius: 10px;
    filter: grayscale(100);
    transition: .5s;
}

.bodypro img:hover {
    filter: grayscale(0);
    transition: .5s;
}

#contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px 0 0 0;
}

.gmail a {
    color: white;
    text-decoration: none;
    font-size: 7vw;
}


.info {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 50px 0;
}

.namendesignation,
.social,
.developed {
    font-size: large;
    font-weight: bolder;
}

.social a {
    color: white;
    text-decoration: none;
}

.kirti {
    float: right;
    /* text-decoration: underline; */
}

.reside a {
    text-decoration: none;
    color: white;
    display: inline;
}

/* Define the initial state of elements */
.animation-reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Define the state of revealed elements */
.animation-reveal.revealed {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* 1:50:17 */


/* Responsive Navigation Bar */
.hamburger {
    font-size: 24px;
    cursor: pointer;
    background: none;
    color: inherit;
}

.side-nav .hamburger{
    mix-blend-mode: normal;
}

/* Newly added */

.loader {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    opacity: 1;
    z-index: 9999;
    transition: opacity 0.7s ease;
    /* For smooth fade out */
    transform: translateY(0);
}

.mainname {
    font-size: 30px;
    font-weight: bolder;
    background-color: black;
    color: white;
    margin: 3rem 0 0 2rem;

}

.portnyear {
    font-size: 30px;
    font-weight: bolder;
    background-color: black;
    color: white;
    margin: 0 0 0 2rem;
}

/* new-pro */
.project {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
}

.projectshow {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.proim img {
    width: 35%;
}

.mainheading {
    font-size: 3vw;
}

.subheadings {
    font-size: 5vw;
}

.creativeheading {
    font-size: 3vw;
}

.project3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    align-items: center;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    row-gap: 8vw;
    column-gap: 8vw;
}

.item {
    /* background-color: yellow; */
    /* height: 100px; */
    /* width: 100px; */
    margin: 10px 0 10px 0;
}

.subimg img {
    width: 30vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centrally {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 20px 0 0 0;
}

.mainhead,
.mainhead1 {
    margin: 5vw 0 5vw 0;
    font-size: 2vw;
    font-weight: bolder;
}

.subhead {
    font-size: 3vw;
    font-weight: bolder;
}

.centrally a {
    color: white;
}

/* @media only screen and (max-width: 605px) {
    .container {
        grid-template-columns: repeat(1);
    }
} */

/*nav-item-underline*/
.nav-item-underline {
    background-color: #464C47;
}

.navitem {
    margin: 20px 0;
}

.underline {
    display: inline-block;
    position: relative;
    color: white;
    /* Set your text color */
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    /* Adjust the thickness of the underline */
    background-color: white;
    /* Set your underline color */
    transition: width 2s ease-out;
}

.underline.animate::after {
    width: 100%;
}

/* Nav-resident and work */
.smallreswork{
    background-color: #464C47;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin: 5vw 0 0 0;
}

.smallreswork #resident a, .smallreswork #currently{
    font-size: medium;
    /* background-color: #464C47; */
}

.smallreswork #resident, .smallreswork #currently{
    display: block;
    color: white;
    background-color: #464C47;
}

.currwork, .res{
    background-color: #464C47;
}
/* --------------------------------------------------------- */

/* Media Query for smaller screens */
@media only screen and (max-width: 884px) {
    #navbar {
        flex-direction: column;
        width: 100%;
    }

    .left,
    .current,
    .reside,
    .links {
        margin: 10px 0 0 0;
        transition: all 0.3s ease-out;
    }

    .left {
        font-weight: bolder;
        margin: 0.5rem 0 0 1rem;
    }

    .burger {
        display: block !important;
    }

    .burger-height {
        height: 72px;
    }

    .opa {
        opacity: 0;
    }

    #currently,
    #resident {
        display: none;
    }

    .uppersection {
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
        font-size: 12vw;
        margin: 5rem 0 0 2rem;
    }


    .dev {
        display: flex;
        /* width: 80%; */
        max-width: 100%;
    }

    #devimage {
        width: 80%;
        max-width: 100%;
        margin: 2rem 0 0 2rem;
        border-radius: 5px;
    }


    /* .arrowncreative{
width: 80%;
max-width: 100%;
} */


    .lowersection {
        align-self: center;
        margin: 2rem 0 0 1rem;
        display: flex;
    }

    /*.firstname, .surname{
float: none;
justify-content: center;
align-items: center;
display: flex;
max-width: 100%;
font-size: 5rem;
} */

    .middle1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .firstname,
    .surname {
        float: none;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 10vw !important;
        margin: 0 0.5rem 0 0;

    }

    /* .dowcre{
display: flex;
flex-direction: column-reverse;
max-width: 100%;
align-items: center;
justify-content: center;
padding: 0 0 0 0;
width: 10%;
font-size: 1rem;
}

.arrowncreative{
display: flex;
font-size: 2rem;
width: 100%;
max-width: 100%;
align-items: center;
justify-content: center;
} */

    .creative {
        display: flex;
        justify-content: center;
        font-size: 1.3rem !important;
        align-items: center;
        margin: 1rem 0 0 1rem;
    }

    .downcre {
        margin: 0 0 0 0;
        width: 10%;
        max-width: 100%;
    }

    .arrow {
        font-size: 3.5rem !important;
        padding: 0 0 3rem 3rem;
    }

    .aboutme {
        /* display: flex; */
        margin: 1rem 0 0 3rem;
        width: 80%;
        max-width: 100%;
        font-size: 6vw !important;
        padding: 0 1rem 0 0;
    }

    .projecthead {
        font-size: 1rem !important;
        margin: 10rem 0 0 0;
        display: flex;
        justify-content: space-evenly;
    }

    .project1-pre {
        display: flex;
        /* flex-direction: ; */
        justify-content: space-evenly;
        /* width: 80%; */
        max-width: 100%;
        margin: 1rem 0 0 0;
        /* padding: 0 2rem 0 0; */
    }

    .pro1head {
        font-size: 5vw !important;
        margin: 1rem 0 0 0;
        /* padding-right: 3rem; */
        align-items: center;
        -webkit-tap-highlight-color: transparent;

    }

    .project1 {
        margin: 1rem 0 2rem 2em;
    }

    .pro1img {
        /* width: 30%; */
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 5px;
    }

    .contactform {
        margin: 20vw 0 0 0;
    }

    #contact {
        width: 100%;
        max-width: 100%;
        margin: 2.5rem 0 0 0;
    }

    #contact .gmail a {
        font-size: 8vw;
        font-weight: bolder;
    }

    .info {
        flex-direction: column;
    }

    .namendesignation,
    .social,
    .developed {
        font-size: 1rem;
        font-weight: bolder;
    }

    .namendesignation {
        padding: 1rem 0 0 1rem;
    }

    .developed {
        padding: 1rem 0 0 1rem;
    }

    .social {
        padding: 1rem 0 0 1rem;
    }

    .kirti {
        float: none;
    }

    .hover-underline-animation-bold::after {
        height: 2px;
    }

    #navbar>.hamburger {
        display: block !important;
        position: fixed;
        z-index: 1;
        right: 2rem;
        top: 2rem;
        font-size: 24px;
    }

    #big-nav {
        display: none !important;
    }

    .side-nav {
        display: block !important;
        position: fixed;
        height: 100%;
        right: 0;
        top: -100%;
        padding: 4rem 2rem;
        background: #464C47;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 24px;
        z-index: 999;
        overflow: scroll;
        /* width: 1000vh; */
    }

    .show {
        top: 0 !important;
    }

    .nav-item-cnt {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: none;
        font-weight: bold;
        /* align-items: center; */ /*under*/

    }

    .nav-item-cnt a {
        margin: 0rem 20px 0 0.1rem; /*under*/
        padding: 1rem 0 0.2rem 0;
        background: none;
        text-decoration: none;
        text-transform: uppercase; /*under*/
        line-height: 1.2; /*under*/
        font-size: 10vw; /*under*/
        color: white; /*under*/
    }

    .side-nav>.hamburger,
    .hamburger>i {
        background: none !important;
    }

    .side-nav>.hamburger {
        text-align: right;
        padding-right: 2rem;
        position: relative;
        top: -2rem;
        left: 2rem;
    }

    .hover-underline-animation-bold::after {
        height: 2px;
    }

    .left-pre {
        right: 0;
    }

    .blocking {
        display: none;
    }

    .projectheads {
        font-size: 6vw;
        /* align-items: start; */
        justify-content: flex-start;
        margin: 13vw;
    }

    .bodypro {
        flex-direction: column;
        justify-content: initial;
        align-items: stretch;
        margin: 13vw;
        font-size: 9.5vw;
    }

    .bodypro br {
        display: none;
    }

    .pre-imagebody {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5vw 0 0 0;
    }

    .bodypro img {
        width: 60vw;
    }

    .nonecret1 {
        display: none;
    }

    .nonecret{
        display: none;
    }

    .mainhead,
    .mainhead1 {
        margin: 70px 0 0 0;
        font-size: 4vw;
        /* font-weight: bolder; */
    }

    .subhead {
        font-size: 8vw;
        font-weight: bolder;
    }

    .subimg img {
        width: 70vw;
    }

    .container {
        grid-template-columns: 200px 200px;
        grid-template-columns: repeat(1, minmax(100px, 1fr))
    }
}

/* @media only screen and (max-width:1080px) {
    .aboutme {
        font-size: 1.5rem !important;
        width: 10%;
    }

} */

@media only screen and (max-width:957px) and (min-width:885px) {
    .lowersection {
        align-self: center;
        margin: 2rem 0 0 1rem;
        display: flex;
    }

    .middle1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .firstname,
    .surname {
        float: none;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 3rem !important;
        margin: 0 0.5rem 0 0;

    }

    .creative {
        display: flex;
        justify-content: center;
        font-size: 1.3rem !important;
        align-items: center;
        margin: 1rem 0 0 1rem;
        font-size: 1rem;
    }

    .downcre {
        font-size: 1rem;
        margin: 0 0 0 0;
        width: 10%;
        max-width: 100%;
    }

    .arrow {
        font-size: 1rem;
        font-size: 3.5rem !important;
        padding: 0 0 3rem 3rem;
    }

    .aboutme {
        /* display: flex; */
        margin: 1rem 0 0 4rem;
        width: 80%;
        max-width: 100%;
        font-size: 2rem !important;
        padding: 0 0 0 1rem;
    }

    .project1-pre {
        display: flex;
        /* flex-direction: ; */
        justify-content: space-evenly;
        /* width: 100%; */
        max-width: 100%;
        margin: 2rem 0 0 0;
        /* padding: 0 2rem 0 0; */
    }

    .pro1head {
        font-size: 2rem !important;
        margin: 1rem 0 0 0;
        /* padding-right: 3rem; */
        align-items: center;
        -webkit-tap-highlight-color: transparent;

    }

    .project1 {
        margin: 1rem 0 2rem 2em;
    }

    .pro1img {
        /* width: 30%; */
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 5px;
        /* padding: 0 0 0 1rem; */
        /* position: fixed; */
    }

    .hover-underline-animation-bold::after {
        height: 2px;
    }

}

/* new */
@media only screen and (max-width:1200px) {

    .left,
    .current,
    .reside,
    .links {
        font-size: 1rem;
    }
}
